<div class="align-middle text-center bg-blue-200 p-10 border-2 border-blue-400 sm:rounded-2xl my-6 mx-4 sm:mx-10 md:mx-16 lg:mx-24">
        <h1 class="font-bold text-2xl text-blue-950 underline mb-6 sm:mt-2 sm:mb-12 sm:text-3xl md:text-4xl lg:text-5xl">Welcome to AI Translator!</h1>

        <p class="my-6 mx-4 sm:my-10 sm:mx-6 text-sm sm:text-base md:text-lg text-blue-950">This web application is designed to make text translation simple, fast, and enjoyable.</p>

        <p class="my-6 mx-4 sm:my-10 sm:mx-6 text-sm sm:text-base md:text-lg text-blue-950">With just a few clicks, you can translate your text between many different languages — including <b>English</b>, <b>Spanish</b>, <b>French</b>, <b>German</b>, <b>Chinese</b>, and <i>more...</i></p>

        <p class="my-6 mx-4 sm:my-10 sm:mx-6 text-sm sm:text-base md:text-lg text-blue-950">The translations are powered by <b>OpenAI</b>'s advanced language model, which helps deliver not only accurate but also natural-sounding results.</p>

        <p class="my-6 mx-4 sm:my-10 sm:mx-6 text-sm sm:text-base md:text-lg text-blue-950">Our goal is to provide you with a convenient and reliable tool for everyday communication, learning, or work.</p>

        <p class="my-6 mx-4 sm:my-10 sm:mx-6 text-sm sm:text-base md:text-lg text-blue-950">Give it a try and see how effortless translation can be!</p>

        <button class="bg-blue-500 text-white font-bold py-2 px-4 rounded border-2 border-blue-700 sm:hover:bg-blue-700 sm:hover:text-blue-50 transition duration-1000 ease-in-out sm:text-lg md:text-xl lg:text-2xl"
            (click)="navigateToMain()">
            Try it now!
        </button>

        <p class="my-6 mx-4 sm:my-10 sm:mx-6 text-sm sm:text-base md:text-lg text-blue-950">We hope this tool becomes a helpful companion in your daily tasks.</p>

        <p class="mt-6 mx-4 sm:mt-10 sm:mx-6 text-sm sm:text-base md:text-lg text-blue-950">If you have any <i>questions</i>, <i>feedback</i>, or <i>suggestions</i>, feel free to reach out to us — we'd love to hear from you.</p>

        <router-outlet></router-outlet>
</div>