<div class="align-middle text-center m-4 bg-blue-200 p-10 border-2 border-blue-400 sm:rounded-2xl sm:m-10">
        <h1 class="font-bold text-2xl text-blue-950 underline mt-4 mb-10 sm:text-3xl md:text-4xl lg:text-5xl">Welcome to My Translator!</h1>

        <p class="my-10 mx-6 text-sm sm:text-base md:text-lg text-blue-950">This is a simple and user-friendly web application that allows you to translate text from one language to another.</p>

        <p class="my-10 mx-6 text-sm sm:text-base md:text-lg text-blue-950">You can translate text between various languages, including <b>English</b>, <b>Spanish</b>, <b>French</b>, <b>German</b>, <b>Chinese</b>, and <i>many others</i>.</p>

        <p class="my-10 mx-6 text-sm sm:text-base md:text-lg text-blue-950">Feel free to explore the features of the translator and enjoy the convenience of quick and accurate translations!</p>

        <button class="bg-blue-500 text-white font-bold py-2 px-4 rounded border-2 border-blue-700 sm:hover:bg-blue-700 sm:hover:text-blue-50 transition duration-1000 ease-in-out sm:text-lg md:text-xl lg:text-2xl"
            (click)="navigateToMain()">
            Try it now!
        </button>

        <p class="my-10 mx-6 text-sm sm:text-base md:text-lg text-blue-950">We hope you find our translator useful and easy to use.</p>

        <p class="mt-10 mx-6 text-sm sm:text-base md:text-lg text-blue-950">If you have any questions or suggestions, please contact us.</p>

        <router-outlet></router-outlet>
</div>